

.hovicon {
    display: inline-block;
    font-size: 45px;
    line-height: 90px;
    cursor: pointer;
    margin: 20px;
    width: 90px;
    height: 90px;
    border-radius: 0%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #000;
}

.hovicon.small {
    font-size: 20px;
    line-height:45px;
    width:45px;
    height:45px;
    margin:7px;
}
.hovicon.mini {
    font-size: 10px;
    line-height: 20px;
    width:20px;
    height:20px;
    margin:3px;
}
.hovicon.auto-width {
    width: auto;
    height: auto;
    padding: 15px;
}
.hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: rgba(255, 99, 132, 0.5)
}


.hovicon.prospective:after {
    color: red;
}

.hovicon.chest:after {
    background-color: rgba(255, 99, 132, 0.5);
    
}

.hovicon.head:after {
    background-color: rgba(75, 192, 192, 0.5);
}

.hovicon.breast:after {
    background-color: rgba(255, 205, 86, 0.5);
}

.hovicon.heart:after {
    background-color: rgba(255, 159, 64, 0.5);
}

.hovicon.multiple:after, .hovicon.other:after {
    background-color: rgba(54, 162, 235, 0.5);
}


.hovicon:before {
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

/* Effect 9 */
 .hovicon.effect-9 {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}
.hovicon.effect-9:after {
    top: 0;
    left: 0;
    padding: 0;
    box-shadow: 0 0 0 2px #000;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}
/* Effect 9a */
 .hovicon.effect-9.sub-a:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    opacity: 0.5;
}
.hovicon.effect-9.sub-a:hover {
    /*box-shadow: 0 0 0 10px rgba(255, 255, 255, 1);*/
    color: #000;
}
.hovicon.effect-9.sub-a:hover i {
    color: #000;
}